<div class="relative ml-4 z-50 button">
    <%= icon('fas', 'bars', class: "text-3xl py-2 button header-button cursor-pointer") %>
</div>
<header class="fixed w-full py-4 top-0 bg-gray-800 max-h-screen h-full header md:w-80  md:py-8">
    <div class="w-full text-white">
        <%= image_tag "picture.jpg", class: "block w-1/2 h-1/2 rounded-full mx-auto"%>
        <div class="w-full px-4 md:px-8">
            <h2 class="block text-base mt-8 mb-2 w-full text-center md:text-xl">Informações</h2>
            <div class="block w-full ml-auto border-t border-white mb-4"></div>
            <address class="block not-italic">
                <ul class="text-lg">
                    <li class="mb-4">
                        <div class="flex items-center">
                            <%= icon('fas', 'user', class: "mr-2") %>
                            <h2>Nome</h2>
                        </div>
                        <p class="text-base">Ranniery Moreira</p>
                    </li>
                    <li class="mb-4">
                        <div class="flex items-center">
                            <%= icon('fas', 'envelope', class: "mr-2") %>
                            <h2>Contato</h2>
                        </div>
                        <p class="text-base">moreiraranni@gmail.com</p>
                    </li>
                     <li class="mb-4">
                        <div class="flex items-center">
                            <%= icon('fab', 'github', class: "mr-2") %>
                            <h2>GitHub</h2>
                        </div>
                        <%= link_to 'RannieryMoreira', 'https://github.com/RannieryMoreira', class: "block"%>
                    </li>
                </ul>
            </address>
            <h2 class="block text-base mt-8 mb-2 w-full text-center md:text-xl">Páginas</h2>
            <div class="block w-full ml-auto border-t border-white mb-4"></div>
            <nav>
                <ul class="text-lg">
                    <li class="">
                        <%= link_to icon('fas', 'home', 'Home'), root_path, class: "block p-2 hover:bg-gray-600 rounded transition-all"%>
                    </li>

                    <li class="">
                        <%= link_to icon('fas', 'comment-alt', 'Mensagens'), messages_path, class: "block p-2 hover:bg-gray-600 rounded transition-all"%>
                    </li>
                    <li class="mb-4">
                        <%= link_to icon('fas', 'share', 'Enviar uma mensagem'), new_message_path, class: "block p-2 hover:bg-gray-600 rounded transition-all"%>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
