<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class:"w-full py-2 px-4 bg-gray-200 text-base mb-4 rounded", placeholder: "Name"%>
  </div>

  <div class="field">
    <%= form.email_field :email, class:"w-full py-2 px-4 bg-gray-200 text-base mb-4 rounded", placeholder: "Email"%>
  </div>

  <div class="field">
    <%= form.select :message_type, message_type_for_select, { include_blank: 'Selecione uma opção' }, class:"w-full block py-2 px-4 bg-gray-200 text-base mb-4 rounded" %>
  </div>

  <div class="field">
    <%= form.text_area :message, class:"w-full h-60 py-2 px-4 bg-gray-200 text-base resize-none mb-4 rounded", placeholder: "Mensagem"%>
  </div>

  <div class="actions flex items-center">
    <%= form.submit 'Salvar Mensagem', class: "block w-60 py-2 px-4 bg-gray-700 text-white rounded text-base font-bold cursor-pointer mr-4"%>
    <%= link_to 'Voltar', messages_path, class: "block w-32 text-center py-2 px-4 bg-gray-600 text-white rounded text-base font-bold" %>
  </div>
<% end %>
