<p id="notice"><%= notice %></p>

<div class="w-auto mt-8 mb-8 flex items-center justify-between">
    <h1 class="text-gray-700 md:text-5xl font-bold">Mensagens</h1>
    <%= form_with url: messages_path, method: :get do |form| %>
        <%= form.select :message_type, message_type_for_select, { include_blank: 'Selecione um filtro' }, class:"w-full block py-2 px-4 bg-gray-200 text-base ml-auto rounded" %>
    <% end %>
</div>

<div class="w-full">
  <table class="w-full table">
    <thead class="bg-gray-700 text-white text-center font-bold">
      <tr>
        <th class="py-2 px-4">Nome</th>
        <th class="py-2 px-4">E-mail</th>
        <th class="py-2 px-4">Tipo</th>
        <th class="py-2 px-4">Messagem</th>
        <th colspan="3" class="py-2 px-4"></th>
      </tr>
    </thead>

    <tbody class="text-center">
      <% @messages.each do |message| %>
        <tr>
          <td class="py-2 px-4"><%= message.name %></td>
          <td class="py-2 px-4"><%= message.email %></td>
          <td class="py-2 px-4"><%= message.message_type %></td>
          <td class="py-2 px-4"><%= message.message.truncate(32)%></td>
          <td class="py-2 px-4"><%= link_to 'Mostrar', message %></td>
          <td class="py-2 px-4"><%= link_to 'Editar', edit_message_path(message) %></td>
          <td class="py-2 px-4"><%= link_to 'Deletar', message, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Enviar uma mensagem', new_message_path, class: "ml-auto w-60 block py-2 px-4 bg-gray-700 text-bold text-base text-white text-center rounded"%>
<%= javascript_pack_tag 'message' %>
