<p id="notice"><%= notice %></p>

<div class="w-auto mt-8 mb-8 md:flex items-center justify-between">
    <h1 class="text-center text-2xl mb-4 text-gray-700 font-bold md:text-5xl md:text-left md:mb-0">Mensagens</h1>
    <%= form_with url: messages_path, method: :get do |form| %>
        <%= form.select :message_type, options_for_select(message_type_for_select, params[:message_type]), { include_blank: 'Todos' }, class:"w-full block py-2 px-4 bg-gray-200 text-base ml-auto rounded" %>
    <% end %>
</div>

<div class="w-full overflow-x-scroll md:overflow-auto">
  <table class="w-full table">
    <thead class="bg-gray-700 text-white text-center font-bold">
      <tr>
        <th class="py-2 px-4">Nome</th>
        <th class="py-2 px-4">E-mail</th>
        <th class="py-2 px-4">Tipo</th>
        <th class="py-2 px-4">Messagem</th>
        <th colspan="3" class="py-2 px-4"></th>
      </tr>
    </thead>

    <tbody class="text-center">
      <% if @messages.empty? %>
        <tr>
          <td colspan="7" class="py-2 px-4">Nenhuma mensagem cadastrada</td>
        </tr>
      <% end %>
      <% @messages.each do |message| %>
        <tr>
          <td class="py-2 px-4"><%= message.name %></td>
          <td class="py-2 px-4"><%= message.email %></td>
          <td class="py-2 px-4"><%= Message.human_enum_name(:message_type, message.message_type) %></td>
          <td class="py-2 px-4"><%= message.message.truncate(32)%></td>
          <td class="py-2 px-4"><%= link_to 'Mostrar', message, class: "hover:text-gray-700 transition-all" %></td>
          <td class="py-2 px-4"><%= link_to 'Editar', edit_message_path(message), class: "hover:text-gray-700 transition-all" %></td>
          <td class="py-2 px-4"><%= link_to 'Deletar', message, method: :delete, data: { confirm: 'Tem certeza?' }, class: "hover:text-gray-700 transition-all" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="flex align-items">
  <div class="paginate">
    <%= will_paginate @messages, container: false, next_label: icon('fas', 'chevron-right'), previous_label: icon('fas', 'chevron-left')%>
  </div>
  <%= link_to 'Enviar uma mensagem', new_message_path, class: "w-full ml-auto block py-2 px-4 bg-gray-800 text-bold text-base text-white transition-all text-center rounded lg:w-60 hover:bg-gray-700"%>
</div>
<%= javascript_pack_tag 'message' %>
